@import "compass/reset";
@import "compass/css3";

@import "variables.scss";
@import "mixins.scss";
@import "default.scss";

/*site theme*/
/*fonts*/
@font-face {
    font-family: $fontAwesome;
    src: url("../fonts/fontawesome-webfont.eot?v=4.6.3");
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-Bold';
    src: url("../fonts/SFUIDisplay-Bold.eot");
    src: url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff"), url("../fonts/SFUIDisplay-Bold.ttf") format("truetype"), url("../fonts/SFUIDisplay-Bold.svg#SFUIDisplay-Bold") format("svg"), url("../fonts/SFUIDisplay-Bold.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-Light';
    src: url("../fonts/SFUIDisplay-Light.eot");
    src: url("../fonts/SFUIDisplay-Light.woff2") format("woff2"), url("../fonts/SFUIDisplay-Light.woff") format("woff"), url("../fonts/SFUIDisplay-Light.ttf") format("truetype"), url("../fonts/SFUIDisplay-Light.svg#SFUIDisplay-Light") format("svg"), url("../fonts/SFUIDisplay-Light.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-Regular';
    src: url("../fonts/SFUIDisplay-Regular.eot");
    src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff"), url("../fonts/SFUIDisplay-Regular.ttf") format("truetype"), url("../fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular") format("svg"), url("../fonts/SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-Semibold';
    src: url("../fonts/SFUIDisplay-Semibold.eot");
    src: url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Semibold.woff") format("woff"), url("../fonts/SFUIDisplay-Semibold.ttf") format("truetype"), url("../fonts/SFUIDisplay-Semibold.svg#SFUIDisplay-Semibold") format("svg"), url("../fonts/SFUIDisplay-Semibold.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

.fintech {
    > .top {
        background-color: $primaryColor;
        height: 55px;
        position: relative;
        z-index: 2;

        .menu {
            padding: 0 20px;
            height: 55px;
            line-height: 55px;
            position: relative;

            &:before {
                content: '';
                background-color: darken($primaryColor, 5%);

                @include transition-property(transform);

                @include transition-timing-function(ease-out);

                @include transition-duration(0.2s);

                @include transform-origin(0, 50%);

                @include transform(scaleX(0));

                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            &:hover {
                &:before {
                    @include transform(scaleX(1));
                }
            }

            &:after {
                content: '\f177';
                font-family: $fontAwesome;
                font-size: 17px;
                display: inline-block;
                color: $white;
                cursor: pointer;

                @include transform(rotate(0deg));

                @include transition(all ease-out 0.2s);
            }

            &.expand {
                &:after {
                    content: '\f0c9';
                    font-size: 20px;

                    @include transform(rotate(-180deg));

                    @include transition(all ease-out 0.2s);
                }
            }
        }

        .logo {
            @include use-sprite(logo);

            display: inline-block;
            margin: 15px 0 0 26px;
        }

        .theme-changer {
            @include use-sprite(theme);

            margin: 17px;
        }

        .sign-in {
            padding: 18px;
            display: inline-block;
        }

        a {
            color: $white;
        }
    }

    .question[class*="page"] {
        padding: 25px 0;

        h1 {
            font-size: 27px;
            line-height: 27px;
            padding-right: 110px;
            font-family: $primaryFontLight;
        }

        .dropdown {
            padding: 5px 26px 5px 8px;
        }

        .inputfield {
            padding: 1px;
            font-family: $primaryFontBold;
        }

        .text {
            font-family: $primaryFontBold;
        }

        .submit {
            font-size: 17px;
            font-family: $primaryFontBold;
            position: relative;
            top: -5px;
            margin-left: 7px;
            padding: 0 25px;
            display: inline-block;
            line-height: 34px;
            height: 36px !important;
        }

        .menu {
            font-size: 12px;
        }

        .share {
            position: absolute;
            top: 30px;
            right: 25px;
            padding: 5px 10px 5px 6px;
            background-color: lighten($black, 80%);
            border-color: lighten($black, 70%);
            color: $black;

            &:hover {
                background-color: lighten($black, 90%);
            }

            &:before {
                display: inline-block;
                content: '\f1e0';
                font-family: $fontAwesome;
                margin: 0 4px;
            }
        }
    }

    .page.filters {
        width: 217px;
        height: 100%;

        .scroll {
            height: 100%;
            padding-bottom: 40px;
            background-color: $white;

            @include box-shadow(0 12px 18px -10px #000);

            &:hover {
                overflow-y: auto;
            }
        }

        .collapse-btn {
            position: absolute;
            height: 26px;
            width: 12px;
            right: -12px;
            top: 284px;
            cursor: pointer;

            @include border-radius(0 3px 3px 0);

            background-color: $black;
            color: $white;

            &:before {
                content: '\f0d9';
                display: inline-block;
                font-family: $fontAwesome;
                margin: 4px 0 0 2px;
            }

            &:hover {
                @include opacity(0.5);
            }
        }

        * {
            border-color: lighten($black, 90%);
        }

        .header {
            background-color: lighten($black, 35%);
            color: $white;
            height: 40px;
            font-family: $primaryFontSemiBold;
            font-size: 14px;
            position: relative;

            &:before {
                content: '\f0b0';
                font-family: $fontAwesome;
                display: inline-block;
                margin: 10px 10px 0 10px;
            }
        }

        .sorting {
            padding: 14px;

            .dropdown {
                border-color: lighten($black, 80%);
            }

            label {
                color: lighten($black, 50%);
                padding-right: 10px;
            }
        }

        .filter {
            border-bottom-width: 1px;
            border-style: solid;
            padding: 10px;
            position: relative;

            .filters {
                display: none;
                padding-top: 6px;
            }

            .text {
                position: relative;
                font-family: $primaryFontBold;
                cursor: pointer;

                &:after {
                    content: '\f0d7';
                    font-family: $fontAwesome;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                &:hover {
                    &:after {
                        color: $secondaryColor;
                    }
                }
            }

            &.opened {
                .filters {
                    display: block;
                }

                .text {
                    &:after {
                        content: '\f0d8';
                    }
                }
            }
        }
    }

    .ui[class*="content container"] {
        .content.container {
            padding-left: 217px;
            height: 100%;
        }

        &.expand-content {
            .filters {
                @include translateX(-217px);

                position: absolute;
            }

            .content.container {
                padding-left: 0;
            }
        }
    }

    .content[class*="question"] {
        padding: 16px 15px 13px 15px;
        float: $left;
    }

    .title[class*="page"] {
        padding-bottom: 6px;
        position: relative;

        h2 {
            font-size: 18px;
            font-family: $primaryFontSemiBold;
            line-height: 30px;
            display: inline-block;
        }
    }

    .ui.tags {
        .vs {
            color: lighten($black, 60%);
            padding: 0 8px 0 12px;
        }

        > .label {
            display: inline-block;
            background-color: $white;
            border: 1px solid lighten($black, 80%);
            padding: 6px 8px;
            white-space: nowrap;
            margin: 2px;
            cursor: default;

            @include transition(all, ease-in-out 0.5s);

            @include border-radius(3px);

            .delete.icon {
                display: inline-block;
                float: $right;
                color: lighten($black, 75%);
                cursor: pointer;

                @include border-radius(3px);

                &:before {
                    content: '\f00d';
                    display: inline-block;
                    font-family: $fontAwesome;
                    margin-left: 8px;
                }
            }

            ~ .text {
                display: none;
            }

            &:hover {
                background-color: lighten($black, 95%);

                .delete.icon {
                    &:before {
                        color: $secondaryColor;
                    }
                }
            }
        }
    }

    .toolbar {
        font-family: $fontAwesome;
        font-size: 15px;
        margin: 13px 0 0 0;
        position: absolute;
        bottom: 7px;
        right: 0;

        a {
            margin-left: 15px;
            color: lighten($black, 50%);

            &:hover {
                @include opacity(0.7);
            }
        }

        * {
            display: inline-block;
            float: $right;
        }

        .rotate {
            &:before {
                display: inline-block;

                @include use-sprite(rotate);

                content: '';
            }
        }

        .a-z {
            &:before {
                display: inline-block;
                content: '\f15d';
            }
        }

        .z-a {
            &:before {
                display: inline-block;
                content: '\f15e';
            }
        }
    }

    footer {
        color: lighten($black, 60%);
        padding-top: 8px;
    }
}

.search[class*="compare-company"] {
    > .icon {
        position: absolute;
        top: 0;
        right: 2px;
        bottom: 0;
        margin: auto;
        width: 12px;
        height: 16px;

        &:before {
            content: '\f002';
            display: inline-block;
            font-family: $fontAwesome;
            color: lighten($black, 80%);
        }
    }
}