/* Colors */
$primaryColor: #227a4f;
$secondaryColor: #e9af03;
$orange: #ff6600;
$black: #000;
$white: #fff;
$pageBackground: #f6f6f6;
$highlightBackground: #CCE2FF;
$highlightColor: lighten($black, 10%);
$inputHighlightBackground: #646464;
$inputHighlightColor: $black;

$info: #276F86;
$error: #9F3A38;
$success: #2C662D;
$warning: #573A08;

/* Link Color */
$linkColor: $black;

/* Breakpoints */
$mobileBreakpoint: 320px;
$tabletBreakpoint: 768px;
$computerBreakpoint: 992px;
$largeMonitorBreakpoint: 1200px;
$widescreenMonitorBreakpoint: 1920px;

/*element values*/
$left: left;
$right: right;

/*fonts*/
$fontAwesome: "FontAwesome";
$primaryFontLight: "SFUIDisplay-Light";
$primaryFontRegular: "SFUIDisplay-Regular";
$primaryFontSemiBold: "SFUIDisplay-SemiBold";
$primaryFontBold: "SFUIDisplay-Bold";
$pageFont: $primaryFontRegular, "Helvetica Neue", Arial, Helvetica, sans-serif;
$fontSize: 13px;
$lineHeight: 1.4285em;